* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: url(chill.jpg);
}
#navbar {
  position: fixed;
  width: 30%;
  height: 100%;
  background-color: #151719;
  left: -30%;
}
#navbar.active {
  left: 0px;
}
#navbar li {
  color: white;
  font-size: 30px;
  padding: 30px;
  border-bottom: 1px solid gray;
  text-align: center;
}

.navtoggle {
  position: absolute;
  left: 105%;
  top: 20px;
}

.navtoggle span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #151719;
  margin: 5px;
}

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading {
  color: white;
  font-size: 100px;
}
